# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# Local development
.env


# Dependencias de Node
node_modules/

# Archivos de build temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ignorar archivos CSS generados automáticamente
core/static/css/output.css

# Borra el archivo del índice de Git, pero lo mantiene localmente
git rm --cached core/static/css/output.css